<!DOCTYPE html>
<html lang="en">

<head>
    <a href="https://www.google.com/">
        <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="Google logo">
      </a>
    <link rel="stylesheet" type="text/css" href="static/GoogleImageSearch/styles.css">
</head>

<body>
    <a href="/GoogleSearch">Google Search</a>
    <form action="https://www.google.com/search" method="GET">
        <input type="text" name="q">
        <input type="hidden" name="tbm" value="isch">
        <input type="submit" value="Google Search">
    </form>


</body>

</html>
